# Large data files
*.npy
HW1/q5/glove.npy

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/
